<html>
    <head>
        <title>Transport</title>
    </head>
    <body>
     <table  border="1">
         <caption>Рейсы</caption>
      <thead>
          <tr>
            <td>id</td>
            <td>Отправление</td>
              <td>Прибытие</td>
              <td>Дата</td>
          </tr>
      </thead>
      <tbody>
          {% for route in routes %}
            <tr>
              <td><a href="{% url 'route_detail' pk=route.pk %}">{{ route.id }}</a></td>
              <td>{{ route.departure }}</td>
                <td>{{ route.arrival }}</td>
                <td>{{ route.departure_time }}</td>
            </tr>
          {% endfor %}
      </tbody>
      </table><br>
     <form style="display: inline" action="{% url 'route_create'%}" method="get">
        <button>Добавить рейс</button>
      </form>

         <table  border="1">
         <caption>Пассажиры</caption>
      <thead>
          <tr>
            <td>id</td>
            <td>ФИО</td>
          </tr>
      </thead>
      <tbody>
          {% for passenger in passengers %}
            <tr>
              <td><a href="{% url 'passenger_detail' pk=passenger.pk %}">{{ passenger.id }}</a></td>
              <td>{{ passenger.name }}</td>
            </tr>
          {% endfor %}
      </tbody>
      </table><br>
    </body>
</html>