<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Passenger detail</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Пассажир id = {{ passenger.id }}</h1>

    <p><strong>ФИО:</strong> {{passenger.name}}</p>
    <p><strong>Дата рождения:</strong> {{ passenger.date_of_birth }}</p>
    <p><strong>Паспорт:</strong> {{ passenger.passport }}</p>
    <p><strong>Телефон:</strong> {{ passenger.phone_number }}</p>
    <form style="display: inline" action="{% url 'passenger_update' passenger.id %}" method="get">
        <button>Изменить</button>
    </form>
    <form style="display: inline" action="{% url 'passenger_delete' passenger.id %}" method="get">
        <button>Удалить</button>
    </form>
  </body>
</html>